.full-pattern{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "nav"
        "content"
        "footer";
    min-height: 100vh;

    & nav{
        grid-area: nav;
    }

    & main{
        padding-top: var(--space-5xl);
        grid-area: content;
        padding-bottom: var(--space-5xl);
    }
    
    & footer{
        grid-area: footer;
    }
}