.nav-container {
    &::before{
        content: "";
        position: fixed;
        z-index: 1;
        background-color: var(--bg-light);
        width: 100%;
        height: var(--space-3xl);
        border-radius: var(--space-md);
        transition: all 0.2s;
    }
    position: fixed;
    top: var(--space-md);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    min-height: var(--space-2xl);
    border-radius: var(--space-md);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    &.scroll {
        top: 0;
        width: 100%;
        border-radius: 0;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: var(--space-md);
    padding-right: var(--space-md); 

    @media (min-width: 800px){
        padding-left: var(--space-2xl);
        padding-right: var(--space-2xl);
    }
}

.nav__header{
    z-index: 1000;
    text-decoration: none;
    color: var(--text);
    font-size: var(--space-xl);
}

.nav__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-md);
    height: var(--space-3xl);
}

.nav__links{
    position: fixed;
    z-index: -1;
    top: var(--space-2xl);
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    
    width: 80%;
    height: 0px;
    visibility: hidden;
    
    background-color: var(--bg);
    border-radius: var(--space-md);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);

    gap: var(--space-lg);
    transition: all 0.2s;

    #mobile-menu:checked~&{
        padding: var(--space-xl);
        padding-top: var(--space-2xl);
        height: 350px;
        visibility: visible;
    }

    #mobile-menu:checked~#about-dropdown:checked~&{
        height: 450px;
    }

    .dark & {
        box-shadow: none;
    }

    @media (min-width: 800px){
        z-index: 1;
        position:static;
        flex-direction: row;
        visibility: visible;
        transform: none;
        box-shadow: none;
        background: none;
        width: auto;
        height: 100%;
        gap: var(--space-md);
    }
}

.nav__links a, .nav__links label{
    position: relative;
    font-size: var(--space-md);
    font-weight: 300;
    text-decoration: none;

    .nav__link-active>&::before{
        bottom: -2px;
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        background-color: var(--primary);
    }

    &::before{
        bottom: -2px;
        position: absolute;
        content: "";
        height: 2px;
        width: 0%;
        transition: all 0.2s;
    }

    @media (min-width: 800px){
        transition: all 0.2s;
        &:hover{
            color: var(--primary);
            &::before{
                content: "";
                height: 2px;
                width: 100%;
                background-color: var(--primary);
                display: block;
            }
        }
    }
}

/* Need to change this, the device compatibility isn't smooth */
.tablet-only.nav__link-dropdown-button i {
    color: var(--text);
    transition: transform 0.2s;
    
    #about-dropdown:checked~ul.nav__links &{
        transform: rotate(-180deg);
    }
}

.not-tablet.nav__link-dropdown-button {
    color: var(--text);
    position: relative;

    & i {
        color: var(--text);
    }
}

.nav__link-dropdown{
    
    display: flex;
    height: 0px;
    overflow:hidden;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding:0;
    transition: all 0.2s;

    #about-dropdown:checked~ul.nav__links &{
        height: 100px;
    }

    @media(min-width:800px){
        position: absolute;
        top: 100%;
        align-items: start;
        background: var(--bg);
        opacity: 0;
        visibility: hidden;
        padding: var(--space-sm);
        padding-right: var(--space-2xl);

        .nav__link-dropdown-parent:hover &{
            opacity: 1;
            visibility: visible;
            height: 124px;
        }
    }
}

.nav__link-dropdown-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    padding:0;
    margin:0;

    @media(min-width:800px){
        flex-direction: column;
    }
}

.nav__darkmode-toggle{
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;

    width: 48px;
    height: 48px;
    background: none;

    font-size: var(--space-lg);
    
    & * {
        color: var(--text);
    }

    & i:last-child{
        display:none;
    }
    
    .dark & i:first-child {
        display:none;
    }
    
    .dark & i:last-child {
        display: block;
        color: gold
    }
}


.nav__burger-button{
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: var(--primary);
    border-radius: var(--space-md);

    font-size: var(--space-lg);
    width: 60px;
    height: 60px;

    transition: all 0.2s;
    
    & * {
        color: var(--bg-light);
    }

    #mobile-menu:checked~&{
        transform: rotate(90deg);
    }

    #mobile-menu~& i:last-child{
        display:none;
    }

    #mobile-menu:checked~& i:first-child{
        display:none;
    }

    #mobile-menu:checked~& i:last-child{
        display:block;
    }

    @media(min-width: 800px) {
        display: none;
    }
}

/* Toggle Checks */
#mobile-menu, #about-dropdown {
    display: none;
}