.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: var(--space-2xl);
    background-color: var(--primary);
    padding: var(--space-md);

    position: sticky;
    top:0;
}

.nav__header{
    text-decoration: none;
    color: var(--bg-light);
    font-size: var(--space-xl);
    flex:1
}

.nav__content{
    display: flex;
    justify-content: flex-end;
    gap: var(--space-md);
    flex: 1;
}

.nav__links{
    position: fixed;
    top: 50%;
    right: -60%;
    transform: translate(5%, -50%);
    background-color: var(--primary);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-xl);
    border-radius: var(--space-lg) 0 0 var(--space-lg);
    box-shadow: 0 0.25rem 10px 0;

    gap: var(--space-lg);
    transition: all 0.2s;
}

.nav__links a, .nav__links label{
    font-size:var(--space-lg);
    text-decoration: none;
    color: var(--bg-light);
}

.nav__links label{
    cursor: pointer;
}

.nav__link-dropdown{
    display: flex;
    height: 0px;
    overflow:hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    transition: all 0.2s;
}

.nav__link-dropdown-button i {
    color: var(--bg-light);
    transition: transform 0.2s;
}

#about-dropdown:checked~ul.nav__links .nav__link-dropdown-button i{
    transform: rotate(-180deg);
}

.nav__darkmode-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 48px;
    height: 48px;
    border-radius: var(--space-md);
    background: none;

    font-size: var(--space-lg);
    
    & * {
        color: var(--bg-light);
    }
}

.nav__darkmode-toggle i:last-child{
    display:none;
}

.dark .nav__darkmode-toggle i:first-child {
    display:none;
}

.dark .nav__darkmode-toggle i:last-child {
    display: block;
}

.nav__burger-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: var(--space-lg);
    width: 48px;
    height: 48px;
    border: black solid 2px;
    border-radius: var(--space-md);
    
    & * {
        color: var(--bg-light);
    }
}

#mobile-menu, #about-dropdown {
    display: none;
}

#mobile-menu:checked~ul.nav__links{
    right: 0;
}

#about-dropdown:checked~ul.nav__links .nav__link-dropdown{
    height: 100px;
}



