.cta-buttons{
    display: flex;
    justify-content: center;

    padding: var(--space-md);
}

.cta-buttons *, .cta-button{
    background: var(--primary);
    padding: var(--space-md);
    color: var(--bg-light);
    border-radius: 50px;
    width: 100%;
    text-align: center;
}

.cta-buttons *.invisible, .cta-button.invisible, .cta-buttons.invisible *{
    background: none;
    color: var(--primary);
    font-weight: bold;
}

.cta-button{
    width: auto;
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
}

.faq-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-md);
}

.faq-buttons *{
    background: var(--bg);
    padding: var(--space-sm);
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    color: var(--text);
    border-radius: var(--space-md);
    border: var(--primary) solid 2px;
    font-size: var(--space-lg);
    text-align: center;
}

.faq-buttons *.active{
    background: var(--primary);
    padding: var(--space-sm);
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    color: var(--bg-light);
    border-radius: var(--space-md);
    border: var(--primary) solid 2px;
    font-size: var(--space-lg);
    text-align: center;
}