.cta-buttons{
    display: flex;
    justify-content: center;

    padding: var(--space-md);
}

.cta-buttons *, .cta-button{
    background: var(--primary);
    padding: var(--space-md);
    color: var(--bg-light);
    border-radius: 50px;
    width: 100%;
}

.cta-buttons *.invisible, .cta-button.invisible{
    background: none;
    color: var(--primary);
    font-weight: bold;
}

.cta-button{
    width: auto;
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
}
