.cta-buttons{
    display: flex;
    justify-content: center;

    padding: var(--space-md);
}

.cta-buttons * {
    background: var(--primary);
    padding: var(--space-md);
    color: var(--bg-light);
    border-radius: 50px;
    width: 100%;
}

.cta-buttons *.invisible{
    background: none;
    color: var(--primary);
    font-weight: bold;
}