.about{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    padding: var(--space-md);
    gap: var(--space-lg);
}

/* Tried to use grid to match the elements with height of the pic, but it failed. */
.about__content{
    max-width: 500px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "content"
    "buttons";
}

.about__header{
    grid-area: header;

}

.about__description{
    grid-area: content;

    /* Prose pattern */
    & > * + * { 
        margin-block-start: var(--prose-flow, 1em);
    }
}

.about__image{
    aspect-ratio: 4/3;
    max-width: 350px;
    object-fit: cover;
    border-radius: 32px;
}

.about__buttons{
    grid-area: buttons;
    display: flex;
    gap: var(--space-md);
}
