.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--space-md);
    gap: var(--space-lg);

    @media (min-width: 600px) {
        justify-content: space-evenly;
    }
}

.contact__content{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    max-width: 550px;
}

.contact__info-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: var(--space-md)
}

.contact__info{
    display: flex;
    align-items: center;
    gap: var(--space-md);
    text-decoration:none;
}

.contact__info-text p{
    color:var(--text-muted);

    .contact__info:hover &{
        text-decoration: underline;
        color:var(--text);
    }
}

.contact__form{
    padding: var(--space-md);
    border-radius: var(--space-md);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap:var(--space-md);
    width: 100%;
    max-width: 500px;
    height: 500px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    @media (min-width: 600px) {
        padding: var(--space-xl);
    }
}

.contact__form-group{
    display: flex;
    flex-direction: column;
}

.contact__form-group label{
    color: var(--bg-light);
}

.contact__form-group input, .contact__form-group textarea{
    width: 100%;
    border-radius: var(--space-sm);
    border: var(--text-muted) solid 1px;
    height: var(--space-xl);
    padding: var(--space-sm);
}

.contact__form-group textarea{
    height: 150px;
}

.contact__form-button{
    background-color: var(--bg);
    color: var(--text);
    border: none;
    border-radius: var(--space-sm);
    height: var(--space-xl);
    cursor: pointer;
    max-width: var(--space-3xl);
}
