@keyframes blink {
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: var(--text);
    }
}

@keyframes fade-out {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    gap: 0px;
    min-height: calc(100vh - 6rem); /*6rem is the height of nav*/
    padding: var(--space-md);
    padding-top: 80px;

    @media(min-width: 600px){
        align-items: center;
        padding: 0 var(--space-5xl);
    }
}

.hero.secondary{
    display: flex;
    flex-direction: column;
    min-height: calc(50vh - 6rem);
    padding: var(--space-md);

    @media(min-width: 600px){
        justify-content: center;
        align-items: center;
        padding: 0 var(--space-5xl);
    }
}

/* Hero Header */
.hero__title {
    width: 100%; /* title-animation grows smaller containers, */
    font-size: clamp(var(--space-md), 2vw, var(--space-lg));
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0;

    @media(min-width:600px){
        flex: 1;
        text-align: start;
    }

    .secondary & {
        align-items: center;
        text-align: center;
    }
}

.hero__title-eyebrow{
    display: block;
    font-size: clamp(var(--space-md), 2vw, var(--space-lg));
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--text);
}

.hero__title-animation {
    margin-top: var(--space-sm);
    font-size: var(--space-md) !important;
}

.hero__title-content{
    font-size: var(--space-lg);
}

.hero__title-caret{
    animation: blink 1s step-end infinite;
    border-left: 2px solid var(--text);
}

.hero__buttons{
    display: flex;
    justify-content: center;
    margin-top: var(--space-sm);
    gap: var(--space-xl);
    max-width: 800px;
    @media (min-width:600px) {
        justify-content: start;
        & *{
            max-width: 200px;
        }
    }
}

/* Hero Content */
.hero__display {
    display: flex;
    flex-direction: column;
    padding: var(--space-lg);
    gap: var(--space-sm);

    @media(min-width:600px){
        flex: 1;
    }
}

.hero__display-image{

}

.hero__display-testimonial{
    text-align: center;
}

.hero__scroll-indicator{
    position: absolute;
    bottom: var(--space-md);
    text-align: center;
    animation: fade-out linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}
