@keyframes blink {
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: var(--text);
    }
}

@keyframes fade-out {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    min-height: 100vh;
    padding: var(--space-md);
    padding-top: var(--space-3xl);
    background-color: var;

    @media(min-width: 800px){
        align-items: start;
        padding: 20rem var(--space-2xl);
    }

    /* & * {
        outline: red solid;
    } */
}

.hero.secondary{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    padding: var(--space-md);

    @media(min-width: 600px){
        justify-content: center;
        align-items: center;
        padding: 0 var(--space-5xl);
    }
}

/* Hero Header */
.hero__title {
    position: relative;
    width: 100%; /* title-animation grows smaller containers, */
    max-width: 1600px;
    font-size: clamp(var(--space-md), 2vw, var(--space-lg));
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0;

    @media(min-width:800px){
        text-align: start;
    }

    .secondary & {
        align-items: center;
        text-align: center;
    }
}

.hero__title-eyebrow{
    display: block;
    font-size: clamp(var(--space-md), 2vw, var(--space-lg));
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--text);
}

.hero__title-animation {
    margin-top: var(--space-sm);
    font-size: var(--space-md) !important;
}

.hero__title-content{
    font-size: var(--space-lg);
}

.hero__title-caret{
    animation: blink 1s step-end infinite;
    border-left: 2px solid var(--text);
}

.hero__buttons{
    display: flex;
    justify-content: center;
    margin-top: var(--space-sm);
    gap: var(--space-xl);
    max-width: 800px;
    @media (min-width:800px) {
        justify-content: start;
        & *{
            max-width: 200px;
        }
    }
}


.hero__display {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-lg);
    gap: var(--space-sm);
}

.hero__display-image{
    width: 100%;

    @media(min-width:800px){
        min-width: 600px;
        width: 60vw;
        z-index: -1;
        position: absolute;
        right: 0;
        top: 50%;
        transform:translateY(-35%);
    }
}

.hero__display-testimonial{
    text-align: center;
}

.hero__scroll-indicator{
    position: absolute;
    bottom: var(--space-md);
    text-align: center;
    animation: fade-out linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}
