@keyframes blink {
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: var(--text);
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 95vh;
    padding: var(--space-md);
}

.hero.secondary{
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    padding: var(--space-md);
}

/* Hero Header */
.hero__title {
    width: 100%; /* title-animation grows smaller containers, */
    font-size: clamp(var(--space-md), 2vw, var(--space-lg));
    text-align: center;
    line-height: 1;
}

.hero__title-eyebrow{
    display: block;
    font-size: clamp(var(--space-md), 2vw, var(--space-lg));
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--text);
}

.hero__title-animation {
    margin-top: var(--space-sm);
    font-size: var(--space-md) !important;
}

.hero__title-content{
    font-size: var(--space-lg);
}

.hero__title-caret{
    animation: blink 1s step-end infinite;
    border-left: 2px solid var(--text);
}

.hero__buttons{
    display: flex;
    justify-content: center;
    margin-top: var(--space-sm);
    gap: var(--space-xl);
}

/* Hero Content */
.hero__display {

}

.hero__display-image{

}

.hero__display-testimonial{
    text-align: center;
}

.hero__scroll-indicator{
    text-align: center;
}
