.our-offer{
    display: flex;
    flex-direction: column-reverse ;
    padding: var(--space-md);
}

.our-offer__content{

}

.our-offer__header{
    
}

.our-offer__features{
    padding:0;
    margin:0;
}

.our-offer__image{
    aspect-ratio: 4/3;
    max-width: 350px;
    object-fit: cover;
    border-radius: 32px;
}

