.performance{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg) var(--space-2xl);

    padding: var(--space-md);

    @media(min-width:600px){
        padding: var(--space-3xl) var(--space-5xl);
    }
}

.performance__content{
    @media(min-width:600px){
        max-width: 650px;
    }
}

.performance___header{

}

.performance__feature{
    display: flex;
    align-items: center;
    gap: var(--space-md);
    margin-top: var(--space-md);
}

.performance__buttons{
    display: flex;
    justify-content: center;
    margin-top: var(--space-md);
    padding:0;
    @media(min-width:600px){
        max-width: 200px;
    }
}

.performance__image{
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 32px;
}