.projects{
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
}

.projects__header{

}

.projects__content{

}

.projects__item{

}

.projects__thumbnail{

}

.projects__item-content{

}
