.projects{
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
}

.projects__header{

}

.projects__library{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px,100%),1fr));
    gap: var(--space-md);
}

.projects__header-buttons{
    display: flex;
    justify-content: center;
    margin-top: var(--space-md);
}

.projects__content{

}

.projects__item{

}

.projects__item-buttons{
    display: flex;
    justify-content: center;
    margin-top: var(--space-md);
}

.projects__thumbnail{

}

.projects__item-content{

}
