.testimonials{
    display: flex;
    flex-direction: column;
    padding: var(--space-md);

    @media (min-width:600px) {
        align-items: center;
        padding: var(--space-lg) var(--space-5xl);
    }
}

.testimonials__item{
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    gap: var(--space-sm);
    border: var(--primary) solid 2px;
    border-radius: var(--space-md);
    max-width: 400px;
}

.testimonials__item-icon{
    font-size: var(--space-lg);
    color: var(--primary)
}

.testimonials__item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__item-author{
    display: flex;
    flex-direction: column;
}

.testimonials__item-author-name{
    font-weight: bold;
    
}

.testimonials__item-author-business{
    color: var(--text-muted);
}

.testimonials__item-stars *{
    color: gold;
}

.testimonials__item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-md);

    @media (min-width:600px) {
        padding: 0 var(--space-xl);
        gap: var(--space-xl);
    }
}