.wid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-md);

    @media(min-width:600px){
        padding: 0 var(--space-5xl);
    }
}

.wid__header{

}

.wid__services{
    
}

.wid__services-item{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    background: var(--bg-dark);
    border: var(--bg-light) solid 2px;
    border-radius: var(--space-md);
    padding: var(--space-lg);
}

.wid__services-item-icon{
    font-size: var(--space-lg);
}

.wid__services-item-header{
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.wid__services-container{
    /* outline: red solid; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-lg);
    min-width: 600px;
    @media (min-width: 1000px){
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    @media (min-width: 650px) and (max-width: 1000px){
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

}