.wid{
    display: flex;
    flex-direction: column;
    padding: var(--space-md);

    @media(min-width:600px){
        padding: 0 var(--space-5xl);
    }
}

.wid__header{

}

.wid__services{
    
}

.wid__services-item{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    background: var(--bg-light);
    border: var(--text) solid 2px;
    border-radius: var(--space-md);
    padding: var(--space-lg);
}

.wid__services-item-icon{
    font-size: var(--space-lg);
}

.wid__services-item-header{
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.wid__services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: var(--space-lg);
}