

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin:0 ;
    background-color: var(--bg);
    color: var(--text);
    transition: all 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
    border-collapse:collapse;
    color: var(--text);
}

tr {
    transition: transform .2s;
    cursor: pointer;
}

th{
    color: var(--text-muted);
    text-align: left;
    font-weight: normal;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
}

h2 {
    margin:0;
    padding: 0;
    font-size: clamp(2rem, 4vw, 2.5rem);
    text-transform: capitalize;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

h4 {
    margin-top: 16px;
}

b {
    color: var(--text);
}

li > h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

li > i {
    margin-bottom: 16px;
    width: 75px;
    height: 75px;
}

pre {
    margin:0;
    padding:0;
}

p {
    margin: 0;
    margin-top: 8px;
    padding: 0;
    color: var(--text);
}

hr {
    width: 94%;
    margin: auto;
    color: var(--text-muted);
}

a {
    color: inherit;
}

footer {
    padding: 32px 16px 8px;
    display: block;
    min-height: 100px;
    background-color: var(--bg-dark);
}

input, textarea {
    background-color: var(--bg-dark);
    border: 1px solid var(--text);
}
